.calc-form {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 15px;
}
.calc-form__text {
    margin-right: 10px;
}

.calc-form__input {
    background: #f1f1f1;
    border: none;
    border-radius: 15px;
    min-height: 23px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 3px;
}

.calc-form__select {
    background: inherit;
    border: none;
    margin-right: 3px;
}

.calc-result :first-of-type{
    display: inline;
}
.calc-result :not(:last-child){
    margin-right: 10px;
}
.calc-result__currency {
    font-weight: bold;
}