.main {
    margin-top: 20px;
    flex: 1 0 auto;
}

.main__content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}

.main__item {
    border: 1px solid black;
    margin: 20px;
    padding: 20px 30px;
    /* background-color: lightslategray; */
    background-color: #708090;
    flex: 0.3 1;
}
.main__item:hover {
    cursor: pointer;
    background-color: rgb(209, 207, 231)
    /* background-color: lightslategray; */
}

.main__date {
    font-size: larger;
    padding-top: 10px;
}

.main__item-name {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bolder;
}
.main__item :last-child {
    margin-bottom: 0px;
}

.main__item-promt {
    
}

@media (max-width: 900px) {
    .main__item {
        margin: 10px;
        padding: 10px 10px;
        flex: 0.3 1;
    }
    .main__item-name {
        margin-bottom: 10px;
        font-size: 100%;
        font-weight: bolder;
    }
    .main__item-promt {
        font-size: 13px;
    }
}

@media (max-width: 500px) {
    .main__content{
        flex-wrap: wrap;
    }
    .main__item {
        min-width: 40%;
        flex: 0.5 1;
    }
}