.point-card {
    display: flex;
    width: 40%;
    flex: 0.4 1 auto;
    padding: 15px 20px 30px;
    border: 1px solid grey;
    margin-bottom: 15px;
    background-color: #708090;
}
.point-card__info {
    align-items: center;
    font-size: 14px;
}
.point-card__info :not(:last-child){
    margin-bottom: 15px;
}
.point-card__pic {
    max-height: 150px;
    max-width: 240px;
    margin-right: 10px;
}


@media (max-width: 900px) {
    .point-card {
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    .point-card {
        min-width: 60%;
        flex: 1 1;
    }
    .point-card__pic {
        max-height: 100%;
        max-width: 100%;
        margin-right: 0;
    }
    .point-card__info {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: center;
    }
}