.point-card {
    display: flex;
    width: 40%;
    flex: 0.4 1 auto;
    padding: 15px 20px 30px;
    border: 1px solid grey;
    margin-bottom: 15px;
    background-color: #708090;
}
.point-card__info {
    align-items: center;
    font-size: 14px;
}
.point-card__info :not(:last-child){
    margin-bottom: 15px;
}
.point-card__pic {
    max-height: 150px;
    max-width: 240px;
    margin-right: 10px;
}

