.points-card {
    border: 1px solid grey;
    width: 40%;
    flex: 0.4 1 auto;
    padding: 15px 20px 30px;
    background-color: #708090;
    margin-bottom: 15px;
}
.points-card div {
    align-items: center;
    font-size: 14px;
}
.points-card div :not(:last-child){
    margin-bottom: 15px;
}
.points-card picture {
    max-height: 150px;
    max-width: 240px;
    margin-right: 10px;
}
.points-card img {
    max-height: 100%;
}

.point-card-flex {
    display: flex;
}
