.header {
    flex: 0 0 auto;
    background-color: #708090;
}

.header__top-bar {
    background-color: #709085;
}

.header__title {
    margin: 0;
}

@media (max-width: 500px) {
    .header__title {
        margin-bottom: 10px;
    }
}