.header-nav {
    display: flex;
    background: inherit;
}
.header-nav__item {
    display: inline-block;
    padding: 15px 25px;
}
.header-nav__link{
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: block;
}
.header-nav__item:hover {
    background: lightslategray;
}

@media (max-width: 900px) {
    .header-nav {
      max-width: 650px;
    }
}

@media (max-width: 500px) {
    .header-nav {
        max-width: 300px;
        margin: 0 auto;
        align-items: center;
    }
    .header-nav__item {
        padding: 10px 15px;
    }
}