.header-nav {
    display: flex;
    background: inherit;
}
.header-nav__item {
    display: inline-block;

}
.header-nav__link{
    display: block;
    padding: 15px 25px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.header-nav__item:hover {
    background: lightslategray;
}

@media (max-width: 900px) {
    .header-nav {
      max-width: 650px;
    }
}

@media (max-width: 500px) {
    .header-nav {
        max-width: 330px;
        margin: 0 auto;
        align-items: center;
    }
}