.footer {
    flex-shrink: 0;
    width: 100%;
    background-color: #708090;
    padding-bottom: 40px;
    padding-top: 20px;
}
.footer-container {
    display: flex;
}

.footer-container_title, .footer-container_subtitle{
    font-size: 16px;
    margin: auto;
}

.footer-container__item {
    flex: 1 1;
    padding: 10px 20px;
}
